HalloWCF/HalloWCF.Client/Connected Services/ServiceReference1/HalloWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HalloWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HalloWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfObst">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Obst" nillable="true" type="tns:Obst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObst" nillable="true" type="tns:ArrayOfObst" />
  <xs:complexType name="Obst">
    <xs:sequence>
      <xs:element minOccurs="0" name="Farbe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HaltbarBis" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KCal" type="xs:int" />
      <xs:element minOccurs="0" name="Preis" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Obst" nillable="true" type="tns:Obst" />
</xs:schema>